<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>Ship info</title>
</head>
<body class = 'ship'>
<h class="name">{{ data.name }}</h>
<br>
<img src = '{{ data.src }}' width = 70%>
<p>{{data.desc}}</p>
<table>
    {% for i in data.params %}
    <tr>
        <td>{{ i.year }}</td>
        <td>{{ i.displacement }}</td>
    </tr>
    <tr>
        <td>{{ i.length }}</td>
        <td>{{ i.speed }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>