<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>Ship info</title>
</head>
<body class = 'ship'>
<h class="name">{{ data.name }}</h>
<br>
<img src = "{% firstof data.image_src 'https://dostavka.phali-hinkali.ru/murino/api2/images/placeholder_1000x.jpg' %}" width = 50%>
<p>Вооружение корабля: {{data.weapon}}, бронирование: {{data.armoring}}</p>
<table>
    <tr>
        <td>Год ввода в строй - {{ data.year }}</td>
        <td>Водоизмещение {{ data.displacement }} т</td>
    </tr>
    <tr>
        <td>Длина корпуса - {{ data.length }} м</td>
        <td>Скорость хода {{ data.speed }} узла</td>
    </tr>
</table>
</body>
</html>